:root {
    --cor-principal: #222222;
    --cor-secundaria: #ffffff;
    --font-nav-cor: #fff;
    --border: #ddd;
    
    --body-width: 1021px;
    --font-size-info: 11px;
    --font-size-text: 14px;
    --font-size-title: 19px;
    --font-size-h1: 32px;

    --font-family-text: Verdana, Geneva, sans-serif;
    --font-family-title: "Open Sans", arial, sans-serif;
}

body {
    margin: 0px;
    width: var(--body-width);
    margin: auto;
    font-family: var(--font-family-text);
    color: var(--cor-principal);
}
* {
    box-sizing: border-box;
}

/*HEADER*/
header img {
    position: relative;
    left: auto;
}

/*NAV*/
nav a {
    text-decoration: none;
    color: var(--font-nav-cor);
    font-size: var(--font-size-text);
    font-family: var(--font-family-title);
    font-weight: bold;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul {
    background-color: var(--cor-principal) ;
    line-height: 44px; /* centralizar texto */
}
nav li:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

/* VÍDEO */
.video {
    width: 100%;
    height: calc(var(--body-width) * 0.5625); /* body-width tbm vai ser a larg do vídeo(100%) 56.25% */
}
iframe {
    width: 100%;
    height: 100%;
}

/*ARTICLE*/
article {
    display: flex;
    flex-wrap: wrap; /* respeitar porcentagem */
    border: 1px solid var(--border);
}
article div {
    width: 50%;
    padding: 20px;
}
article p {
    padding: 0px 20px; 
}
article p, article div {
    text-align: justify;
    font-size: var(--font-size-text);
}
.title {
    font-family: var(--font-family-title);
    font-weight: bold;
}
.title p {
    font-size: var(--font-size-title);
    padding-left: 0;
}
.title h1 {
    font-size: var(--font-size-h1);
    padding-left: 20px;
}


/*FOOTER*/
.container {
    display: flex;
    flex-wrap: wrap; /* respeitar porcentagem */
}
.container .bloco {
    width: 33%;
  
}
footer {
    background-color: var(--cor-principal);
    padding: 50px 10px;
}
.link-post {
    display: block;
}
.num-post {
    float: right;
}

.texto-footer {
    font-size: 13px;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 5px;
}
.nome-materia {
    display: inline-block;
    width: 150px;
}
.link-materia {
    display: block;
}





@media (max-width: 1025px) {
    :root {
        --body-width: 756px;
    }
    header img {
        width: 211.55px;
    }

    /* FOOTER */
    footer .logo {
        width: 218px;
        height: 71.94;
    }
    .nome-materia {
        width: 100px;
    }
}
@media (max-width: 750px) {
    :root {
        --body-width: 100%;
    }
    nav {
        display: none;
    }
    header {
        background-color: var(--cor-principal);
    }
    header img {
        width: 118.17px;
        display: block;
        margin: auto;
    }

    /* FOOTER */
    .container .bloco {
        width: 100%;
    }
    footer .logo {
        display: block;
        margin: auto;
    }
    .nome-materia {
        width: calc(100% - 110px); /* retirar tamanho imagem*/
    }
}