:root {
    --cor-principal: #222222;
    --cor-secundaria: #ffffff;
    --border: #ddd;
    
    --body-width: 1021px;
    --font-size-info: 11px;
    --font-size-text: 14px;
    --font-size-title: 19px;
    --font-size-h1: 32px;

    --font-family-text: Verdana, Geneva, sans-serif;
    --font-family-title: "Open Sans", arial, sans-serif;
}

body {
    margin: 0px;
    width: var(--body-width);
    margin: auto;
    font-family: var(--font-family-text);
    color: var(--cor-principal);
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--cor-principal);
}

/*HEADER*/
header img {
    position: relative;
    left: auto;
}

/*NAV*/
nav a {
    color: var(--cor-secundaria);
    font-size: var(--font-size-text);
    font-family: var(--font-family-title);
    font-weight: bold;
}
nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}
nav ul {
    background-color: var(--cor-principal) ;
    line-height: 44px; /* centralizar texto */
}
nav li:hover {
    background-color: var(--cor-secundaria); 
}
nav li:hover a {
    color: var(--cor-principal);
    font-weight: bolder;
}

/* VÍDEO */
.video {
    width: 100%;
    height: calc(var(--body-width) * 0.5625); /* body-width tbm vai ser a larg do vídeo(100%) 56.25% */
}
iframe {
    width: 100%;
    height: 100%;
}

/*ARTICLE*/
#by {
    font-family: var(--font-family-title);
    font-size: var(--font-size-info);
}
article {
    display: flex;
    flex-wrap: wrap; /* respeitar porcentagem */
    border: 1px solid var(--border);
    margin-bottom: 10px;
    margin-top: 10px;
}
article div {
    width: 50%;
}
article div, article p {
    padding: 20px;
    text-align: justify;
    font-size: var(--font-size-text);
}

.title {
    font-family: var(--font-family-title);
    font-weight: bold;
    padding: 20px;
}
.title p {
    font-size: var(--font-size-title);
    margin: 0;
    padding: 0;
}
.title h1 {
    font-size: var(--font-size-h1);
}

/*ASIDE*/
.container {
    display: flex;
    flex-wrap: wrap; /* respeitar porcentagem */
}
.container .bloco {
    width: 33%;
}
aside {
    background-color: var(--cor-principal);
    padding: 50px 10px;
}
.link-post {
    display: block;
}
.num-post {
    float: right;
}
.texto-indicacoes {
    font-size: 13px;
    color: var(--cor-secundaria);
    padding: 5px;
}
.nome-materia {
    display: inline-block;
    width: 150px;
}
.link-materia {
    display: block;
    margin-top: 10px;
}
.final {
    width: 100%;
    background-color: var(--cor-secundaria);
    margin: 0;
}
.indicacao-sessoes {
    padding: 0;
}
.titulo-sessao {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);

    border-radius: 5px;
    padding: 2px 15px;

    font-size: 11px;
    font-family: var(--font-family-title);
    font-weight: bold;
}

/* FOOTER */
footer {
    font-family: var(--font-family-title);
    font-size: var(--font-size-info);
    margin: 10px;
}
footer div {
    display: inline-block;
    width: 50%;
}
.termos {
    text-align: right;
}
.termos p {
    display: inline-block;
    margin-left: 10px;
}


@media (max-width: 1025px) {
    :root {
        --body-width: 756px;
    }
    header img {
        width: 211.55px;
    }

    /* ASIDE */
    aside .logo {
        width: 218px;
        height: 71.94;
    }
    .nome-materia {
        width: 100px;
    }
}
@media (max-width: 770px) {
    :root {
        --body-width: 100%;
    }
    nav {
        display: none;
    }
    .video {
        height: 400px;
    }
    header {
        background-color: var(--cor-principal);
    }
    header img {
        width: 118.17px;
        display: block;
        margin: auto;
    }

    /* ASIDE */
    .container .bloco {
        width: 100%;
        margin-top: 40px;
    }
    aside .logo {
        display: block;
        margin: auto;
    }
    .nome-materia {
        width: calc(100% - 110px); /* retirar tamanho imagem*/
    }

    /* FOOTER*/
    footer div {
        display: block;
        width: 100%;
    }
    .termos, .info {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .video {
        height: 250px;
    }
}
@media (max-width: 400px) {
    .video {
        height: 200px;
    }
}
@media (max-width: 280px) {
    aside .logo {
        width: 124px;
        height: 40.91px;
    }
    article div {
        width: 100%;
    }
}