:root {
    --bg-nav: #222222;
}

body {
    margin: 0px;
}
* {
    box-sizing: border-box;
}

/*HEADER*/
header {
    width: 1021px; /* mesma larg da nav */
    margin: auto;
}
header img {
    position: relative;
    left: auto;
}

/*NAV*/
nav a {
    text-decoration: none;
    color: white;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}
nav ul {
    background-color: var(--bg-nav) ;
    position: relative; /* relativo a nav*/
    margin: auto;
    width: 1021px;
    height: 44px;
    line-height: 44px; /* centralizar texto */
}

/* VÍDEO 
.video {
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%;
}
section iframe {
    position: absolute; 

}*/
.video {
    width: 1021px;
    height: calc(1021px * 0.5625); /* 56.25% */
    background-color: #ccc;
    margin: auto;
}
iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

@media (max-width: 1025px) {
    header img {
        width: 211.55px;
    }
    header {
        width: 756px; /* mesmo width da nav */
    }
    nav ul {
        width: 756px;
    }
}
@media (max-width: 750px) {
    nav {
        display: none;
    }
    header {
        width: 100%;
        background-color: var(--bg-nav);
    }
    header img {
        left: 0; /* parar de empurrar 10% pra direita*/
        display: block;
        margin: auto;
    }
}